
.user-profile {
    border: 2px solid #d979e6;
    padding: 20px;
    margin: 15px;
    background-color: #d0f2f8;
  }
  
  .label {
    font-weight: bold;
    color: rgb(255, 153, 0);
  }
  
  .userr {
    color: rgb(133, 187, 41);
  }